<h1 class="title is-1">Models</h1>

<div class="columns is-multiline" id="genres">
  <% @models.each do |model| %>
    <div class="column is-one-third">
      <div class="box">
        <p class="subtitle is-4">
          <%= link_to model.name, model, class: "has-text-info" %>
        </p>
      </div>
    </div>
  <% end %>
</div>